Package: webalance
Version: %VERSION%
Section: base
Priority: optional
Architecture: all
Depends: build-essential
Maintainer: Omar Zouai <omar@omarzouai.com>
Description: WeBalance, an easy to use in-home load-balancer

