<!DOCTYPE html>
<html>
<head>
    <title>OuiProxy - No Hosts</title>
    <link href="/www/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="text-center">OuiProxy</h1>
    <hr>
    <h2 class="text-center">We're sorry, but no servers are available to process your request.</h2>
    <hr>
    <p class="text-center">
        Here's a cat
    </p>
    <div class="text-center">
        <a href="http://thecatapi.com"><img src="http://thecatapi.com/api/images/get?format=src&type=gif"></a>
    </div>
</div>
</body>
</html>